{% extends "admin/admin-index.html" %}
{% block title %} Admin Home{% endblock %}
{% block content %}
{% load static %}

<section id="pcard" class="col-mt-5">
    <div class="col-lg-6 m-auto head">
        <h1 >Phones</h1>
    </div>
    <div class="container ">
      <div class="row">
        {% for product in products %}
          <div class="col-xl-3 col-lg-4 col-md-6 position-relative ">
            

              <div class="card product-item">
                <i class="fa fa-heart position-absolute liked"></i>
                <i class="fa fa-heart-o position-absolute like"></i>
                <div class="images">
                <a href="/products/phone/productdetails/{{product.id}}"><img src="/{{product.image}}" class="img-fluid w-300 img-card" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click to See Product Details"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted  fw-light">{{product.productBrand}}</h6>
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text price"> ${{product.price}} <span class="float-end rating-stars" >
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </span> </p>
                  <div class="text-center">
                    <a href="edit/{{product.id}}" class="btn btn-dark w-70" role="button" > Edit  </a>
                    <a href="delete/{{product.id}}" class="btn btn-dark w-40" role="button" > Delete</a>
                    
                </div>
                </div>
              </div>
          </div>
        {%endfor%}
      </div>
</div>
</section>

<!-- -----------Audio section-------------- -->
<section id="pcard" class="col-mb-5">
    <div class="col-lg-6 m-auto head ">
        <h1 >Audio</h1>
    </div>
    <div class="container ">
      <div class="row">
        {% for audio in audio %}
          <div class="col-xl-3 col-lg-4 col-md-6 position-relative ">
            

              <div class="card product-item">
                <i class="fa fa-heart position-absolute liked"></i>
                <i class="fa fa-heart-o position-absolute like"></i>
                <div class="images">
                <a href="/products/audio/productdetails/{{audio.id}}"><img src="/{{audio.image}}" class="img-fluid w-300 img-card" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click to See Product Details"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted  fw-light">{{audio.productBrand}}</h6>
                  <h5 class="card-title">{{audio.name}}</h5>
                  <p class="card-text price"> ${{audio.price}} <span class="float-end rating-stars" >
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </span> </p>
                  <form action="/" method="POST"></form>
                  <div class="text-center">
                    <a href="edit/{{audio.id}}" class="btn btn-dark w-70" role="button" > Edit  </a>
                    <a href="delete/{{audio.id}}" class="btn btn-dark w-40" role="button" > Delete</a>
                  </div>
                </form>
                </div>
              </div>
          </div>
        {%endfor%}
      </div>
    </div>
</section>



 <!-- -----------power section-------------- -->
<section id="pcard" class="col-mb-5">
    <div class="col-lg-6 m-auto head ">
        <h1 >Power</h1>
    </div>
    <div class="container ">
      <div class="row">
        {% for power in power %}
          <div class="col-xl-3 col-lg-4 col-md-6 position-relative ">
            

              <div class="card product-item">
                <i class="fa fa-heart position-absolute liked"></i>
                <i class="fa fa-heart-o position-absolute like"></i>
                <div class="images">
                <a href="/products/power/productdetails/{{power.id}}"><img src="/{{power.image}}" class="img-fluid w-300 img-card" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click to See Product Details"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted  fw-light">{{power.productBrand}}</h6>
                  <h5 class="card-title">{{power.name}}</h5>
                  <p class="card-text price"> ${{power.price}} <span class="float-end rating-stars" >
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </span> </p>
                  <div class="text-center">
                    <a href="edit/{{power.id}}" class="btn btn-dark w-70" role="button" > Edit  </a>
                    <a href="delete/{{power.id}}" class="btn btn-dark w-40" role="button" > Delete</a>
                  </div>
                </div>
              </div>
          </div>
        {%endfor%}
      </div>
</div>
</section>


   <!-- -----------power section-------------- -->
<section id="pcard" class="col-mb-5">
    <div class="col-lg-6 m-auto head ">
        <h1 >Fitness</h1>
    </div>
    <div class="container ">
      <div class="row">
        {% for fitness in fitness %}
          <div class="col-xl-3 col-lg-4 col-md-6 position-relative ">
            

              <div class="card product-item">
                <i class="fa fa-heart position-absolute liked"></i>
                <i class="fa fa-heart-o position-absolute like"></i>
                <div class="images">
                <a href="/products/fitness/productdetails/{{fitness.id}}"><img src="/{{fitness.image}}" class="img-fluid w-300 img-card" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click to See Product Details"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted  fw-light">{{fitness.productBrand}}</h6>
                  <h5 class="card-title">{{fitness.name}}</h5>
                  <p class="card-text price"> ${{fitness.price}} <span class="float-end rating-stars" >
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </span> </p>
                  <div class="text-center">
                    <a href="edit/{{fitness.id}}" class="btn btn-dark w-70" role="button" > Edit  </a>
                    <a href="delete/{{fitness.id}}" class="btn btn-dark w-40" role="button" > Delete</a>
                  </div>
                </div>
              </div>
          </div>
        {%endfor%}
      </div>
</div>
</section>
{% endblock content %}