 {% load static %}
 <!-- footer section -->
 <footer class="footer-section">
    <div class="container">
      <div class="footer-cta py-5">
        <div class="row">
          <div class="col-sm-6 col-xl-4 mb-30">
            <div class="single-cta">
              <i class="fa fa-map-marker"></i>
              <div class="cta-text">
                <h4 class="text">Find us</h4>
                <a href="https://g.page/Softwarica?share" target="_blank"><span>Lubhu, Lalitpur, Nepal</span></a>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.360838375155!2d85.32779051461797!3d27.706143132152615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190a74aa1f23%3A0x74ebef82ad0e5c15!2sSoftwarica%20College%20of%20IT%20%26%20E-Commerce!5e0!3m2!1sen!2snp!4v1654566456991!5m2!1sen!2snp" width="250" height="50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 mb-30">
            <div class="single-cta">
              <i class="fa fa-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>9861135015 <br> 01-5553334</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4 mb-30">
            <div class="single-cta">
              <i class="fa fa-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>Gadgetsansar@info.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content py-3">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="#"><img src="{% static '/images/footer.png' %}" class="img-fluid"></a>
                <label class="lblname">Gadget Sansar</label>
              </div>
              <div class="footer-text">
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fa fa-instagram instagram-bg"></i></a>
                <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widget">
               <div class="footer-widget-heading">
                 <h3>Useful Links</h3>
               </div>
               <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Expert Team</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Latest News</a></li>
               </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widget">
               <div class="footer-widget-heading">
                 <h3>Subscribe</h3>
               </div>
                <div class="footer-text">
                  <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                </div>
                <div class="subscribe-form">
                  <form action="#">
                    <input type="text" placeholder="Email Address">
                    <button><i class="fa fa-paper-plane"></i></button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright © 2021, All Right Reserved <a href="#">GadgetSansar</a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 text-right d-none d-lg-block">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section end -->