{% extends "index.html" %}
{% block title %} About us{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="container-fluid first-container">
      <video class="img-fluid" autoplay loop muted frameborder="0" allowfullscreen="allowfullscreen">
          <source src="/images/videos/NÂ°5_about.mp4" type="video/mp4" />
      </video>
  
  </div>
  
  
    <div class="container-fluid second-container">
      <div class="row"> 
        <h1 class="text-center bg-white">About us</h1>
          <div class="col-lg-7 offset-lg-2 col-10 offset-1">
              <div>
                  <h2><span> &#8212; </span> Our Mission</h2>
                  <p>
                      To sell the Ultimate House of Luxury brand,<br>
                      defining style and creating desire, now and forever,<br>
                      Fast and free delivery service and can be refunded,<br>
                      All our perfumes are authentic and genuine,<br>
                      Being the  Nepalese store to sell designer <br> perfume items.                
                  </p>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7 offset-lg-2 col-10 offset-1">
              <div>
                  <h2><span> &#8212; </span> Our Vision</h2>
                  <p>
                      Our goal is to become the most well-known <br> 
                      brand-perfume seller in Nepal by selling  <br> 
                      excellent products.
                  </p>
                </div>
          </div>
      </div>
  </div>
  <div class="container-fluid third-container">
      <div class="row">
                  <div class="img"></div>                                    
  
      </div>            
  </div>
  
  </main>
  {% endblock content %}