{% extends "index.html" %}
{% block title %} Title{% endblock %}
{% block content %}
{% load cart_tag %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" type="text/css" />
    {% endblock %}
    
<div class="container px-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Products</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Total</h6>
                </div>
            </div>
        </div>
    </div>
    {% for key,value in request.session.cart.items %}
    <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src=" {{value.image}}" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h5 class="mob-text">{{value.brand}}</h5>
                    <h6 class="mob-text"> {{value.name}}</h6>
                    <p class="mob-text"><a href="{% url 'item_clear' value.product_id %}">Remove</a></p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                
                <div class="col-4">
                    <div class="row d-flex justify-content-end">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="{{value.quantity}}" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}"> - </a>
                        </div>
                </div>
       
                </div>
                <div class="col-4">
                    <h6 class="mob-text">{{value.price}}</h6>
                </div>
                <div class="col-4">
                    <h6 class="mob-text"> {{ value.price|multiply:value.quantity }}</h6>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'cart_clear' %}">Clear Cart</a>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            
            <div class="card">
                <form action="/products/checkout" method="POST">
                {% csrf_token %}
                <div class="row ">
                    
                    <div class="cc-selector col-lg-2 ">
                        <input checked="checked" id="visa" type="radio" name="credit-card" value="visa" />
                        <label class="drinkcard-cc visa" for="visa"></label>
                        <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
                        <label class="drinkcard-cc mastercard"for="mastercard"></label>
                    </div>
                    <div class="col-lg-5" id="fields">
                        <div class="row px-2">
                            <div class="form-group col-md-6">
                                <label class="form-control-label " >Phone number</label>
                                <input type="text" id="phno" name="phonenumber" placeholder="Johnny Doe">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Email</label>
                                <input type="text" id="email" name="email" placeholder="1111 2222 3333 4444">
                            </div>
                        </div>
                        <div class="row px-2">
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Shipping Address</label>
                                <input type="text" id="shipadd" name="address" placeholder="MM/YYYY">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Postal Code</label>
                                <input type="text" id="postalcode" name="pincode" placeholder="***">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2">
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Subtotal</p>
                            <h6 class="mb-1 text-right">${{cart_total_amount}}</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Tax(13 %)</p>
                            <h6 class="mb-1 text-right">${{tax}}</h6>
                        </div>
                    
                        <div class="row d-flex justify-content-between px-4" id="tax">
                            <p class="mb-1 text-left">Total (tax included)</p>
                            <h6 class="mb-1 text-right">${{totalwithtax}}</h6>
                        </div>
                        <button type="submit" class="btn-block btn-blue">
                            <span>
                                 <span id="checkout">Checkout</span>
                                <span id="check-amt">${{totalwithtax}}</span>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
    <script src="{% static '/javascript/cart.js' %}"></script>
    {% endblock  %}
{% endblock content %}

