{% load static %}
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn/SignUp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/loginsignup.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
</head>
<body>
  {% include "message.html" %}
<div class="container md-5" id="container">
    <div class="form-container sign-up-container mt-2">
      <form method="POST" action="">
        {% csrf_token %}
        <h1 class="font-weight-bold">Create Account</h1>
        
        <div class="social-container">
          <a href="#" class="social"><img class="social-login" src="{% static '/images/facebook.png' %}"></i></a>
          <a href="#" class="social"><img class="social-login" src="{% static '/images/google.png' %}"></i></a>
          <a href="#" class="social"><img class="social-login" src="{% static '/images/twitter.png' %}"></i></a>
        </div>
        <p>Fill in your details below.</p>
        <input type="text" name="fn" placeholder="First Name" />
        <input type="text" name="ln" placeholder="last Name" />
        <input type="text" name="un" placeholder="Username" />
        <!-- <input type="tel" placeholder="Contact number" /> -->
        <input type="email" name="em" placeholder="Email" />
        <input type="password" name="ps" placeholder="Password" />
        <button class="btn btn-info btn-rounded" name= "submit" value="sign_in" >Sign up</button>
      </form>
    </div>

    <div class="form-container sign-in-container ">
      <form method="POST" action="">
        {% csrf_token %}
        <h1 id="btn">Sign In</h1>
        <div class="social-container">
          <a href="#" class="social"><img class="social-login" src="{% static '/images/facebook.png' %}"></i></a>
          <a href="#" class="social"><img class="social-login" src="{% static '/images/google.png' %}"></i></a>
          <a href="#" class="social"><img class="social-login" src="{% static '/images/twitter.png' %}"></i></a>
        </div>
        <p>or use your registered account</p>
        <input type="text" name= "em"placeholder="Email" />
        <input type="password" name= "ps" placeholder="Password" />
        <button class="btn btn-info btn-rounded " name= "submit" value="login">Sign In</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1 class="font-weight-bold">Good to see you!<h1>
          <p>You already have an account? <br>Sign in!</p>
          <button class="but" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1 class="font-weight-bold">Hello, Friend!</h1>
          <p>You don't have account yet? Don't worry! You still can join us. <br> Happy Shopping :)</p>
          <button class="but" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static '/javascript/login.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>