{% extends "index.html" %}
{% block title %} Search Results {% endblock %}
{% block content %}
{% load static %}

<style>
  .gohome{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

</style>
<section id="pcard" class="col-mt-5">
    <div class="col-lg-6 m-auto head">
        <h1 >Search Results</h1>
    </div>
    {% if products|length < 1 %}
    <div class="d-flex align-items-center justify-content-center vh-70">
      <div class="text-center mb-5">
          <h1 class="display-1 fw-bold">404</h1>
          <p class="fs-3"> <span class="text-danger">Opps!</span> Search not found.</p>
          <p class="lead">
              The page you’re looking for doesn’t exist.
            </p>
          <a href="/" class="btn gohome">Go Home</a>
      </div>
  </div>
  {% endif %}
    <div class="container ">
      <div class="row">

        {% for product in products %}
          <div class="col-xl-3 col-lg-4 col-md-6 position-relative ">
            

              <div class="card product-item">
                <i class="fa fa-heart position-absolute liked"></i>
                <i class="fa fa-heart-o position-absolute like"></i>
                <div class="images">
                <a href="products/phone/productdetails/{{product.id}}"><img src="/{{product.image}}" class="img-fluid w-300 img-card" alt="..." data-bs-toggle="tooltip" data-bs-placement="top" title="Click to See Product Details"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted  fw-light">{{product.productBrand}}</h6>
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text price"> ${{product.price}} <span class="float-end rating-stars" >
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </span> </p>
                  <div class="text-center">
                    <a href="{% url 'cart_add' product.id %}" class="btn btn-dark w-100" role="button" > Add To Cart</a>
                </div>
                </div>
              </div>
          </div>
        {%endfor%}
      </div>
</div>
</section>
{% endblock %}